<div class="navbar">
  <div class="navbar_logo_lettering">
    <%= link_to root_path do %>
      <img src="assets/logo.webp" />
    <% end %>
  <div>
    <span>
      <%= link_to "Good Doggos", root_path %>
    </span>
  </div>
</div>

  <div class="media_query_navbar_burger_box">
    <img id="burger" class="burger_navbar" src="/assets/menu.png" alt="">
  </div>

  <div class="links_fullScreen">
    <ul class="link_div">
      <li>
        <%= link_to "About Us", about_path %>
      </li>
      <li>
        <%= link_to "Training Services", services_path %>
      </li>
        <%= link_to posts_path do %>
          <li class="button_navbar">
            <button class="blog_go">
              <p>Blog</p>
              <i class="fa-solid fa-arrow-right-long"></i>
            </button>
          </li>
        <% end %>
      <li>
        <label class="swap swap-rotate">
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" class="theme-controller" value="synthwave" />
          <!-- Portuguese FLAG -->
          <img class="language_toggle swap-on fill-current" src="assets/flag.png" />
          <!-- UK FLAG -->
          <img class="language_toggle swap-off fill-current" src="assets/uk_flag.png" />
        </label>
      </li>
    </ul>
  </div>

  <div id="burger_links" class="not_clicked">
    <div class="links_clicked_styling">
      <div>
        <i class="fa-solid fa-xmark" id="close_links"></i>
      </div>
      <div>
        <ul>
          <li>Q&A</li>
          <li>About Us</li>
          <li>Training Services</li>
          <li>Blog</li>
          <li>
            <label class="swap swap-rotate">
              <!-- this hidden checkbox controls the state -->
              <input type="checkbox" class="theme-controller" value="synthwave" />
              <!-- Portuguese FLAG -->
              <p class="swap-on fill-current"><i class="fa-solid fa-arrow-right-arrow-left"></i> Portuguese</p>
              <!-- UK FLAG -->
              <p class="swap-off fill-current"><i class="fa-solid fa-arrow-right-arrow-left"></i> English</p>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var burgerImage = document.getElementById('burger');
    var burgerLinks = document.getElementById('burger_links');

    burgerImage.addEventListener('click', function(event) {
      // Toggle the class of the burger image
      burgerImage.classList.toggle('burger_navbar');
      burgerImage.classList.toggle('no_burger_navbar');

      // Toggle the class of the burger links div
      burgerLinks.classList.toggle('not_clicked');
      burgerLinks.classList.toggle('clicked_yes');

    });
  });

  document.addEventListener("DOMContentLoaded", function() {
    var closeLinks = document.getElementById('close_links');
    var burgerImage = document.getElementById('burger');
    var burgerLinks = document.getElementById('burger_links');

    closeLinks.addEventListener('click', function(event) {
      // Toggle the class of the burger image
      burgerImage.classList.toggle('burger_navbar');
      burgerImage.classList.toggle('no_burger_navbar');

      // Toggle the class of the burger links div
      burgerLinks.classList.toggle('not_clicked');
      burgerLinks.classList.toggle('clicked_yes');

    });
  });
</script>
